In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('Cleaned_Student_Performance.csv')

In [3]:
df.head()

,gender,race,parent_education,lunch,test_prep,math_score,reading_score,writing_score,average_score
0,female,group B,bachelor's degree,standard,none,72,72,74,72.666667
1,female,group C,some college,standard,completed,69,90,88,82.333333
2,female,group B,master's degree,standard,none,90,95,93,92.666667
3,male,group A,associate's degree,free/reduced,none,47,57,44,49.333333
4,male,group C,some college,standard,none,76,78,75,76.333333

In [4]:
df.shape

(1000, 9)

In [5]:
df.isnull().sum()

gender              0
race                0
parent_education    0
lunch               0
test_prep           0
math_score          0
reading_score       0
writing_score       0
average_score       0
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            1000 non-null   object
 1   race              1000 non-null   object
 2   parent_education  1000 non-null   object
 3   lunch             1000 non-null   object
 4   test_prep         1000 non-null   object
 5   math_score        1000 non-null   int64
 6   reading_score     1000 non-null   int64
 7   writing_score     1000 non-null   int64
 8   average_score     1000 non-null   float64
dtypes: float64(1), int64(3), object(5)
memory usage: 70.4+ KB

Round 1: The Easy Questions

 Find how many students got a perfect score (100) in Math.

In [7]:
perfect_math = df[df['math_score'] == 100]
count = len(perfect_math)
print(f"Number of Math Geniuses: {count}")
perfect_math

Number of Math Geniuses: 7

,gender,race,parent_education,lunch,test_prep,math_score,reading_score,writing_score,average_score
149,male,group E,associate's degree,free/reduced,completed,100,100,93,97.666667
451,female,group E,some college,standard,none,100,92,97,96.333333
458,female,group E,bachelor's degree,standard,none,100,100,100,100.000000
623,male,group A,some college,standard,completed,100,96,86,94.000000
625,male,group D,some college,standard,completed,100,97,99,98.666667
916,male,group E,bachelor's degree,standard,completed,100,100,100,100.000000
962,female,group E,associate's degree,standard,none,100,100,100,100.000000

Find the number of students who scored less than 40 in Reading.

In [8]:
struggling_readers = df[df['reading_score'] < 40]
count = len(struggling_readers)
print(f"Number of Struggling Readers: {count}")
struggling_readers

Number of Struggling Readers: 26

,gender,race,parent_education,lunch,test_prep,math_score,reading_score,writing_score,average_score
17,female,group B,some high school,free/reduced,none,18,32,28,26.000000
59,female,group C,some high school,free/reduced,none,0,17,10,9.000000
61,male,group A,some high school,free/reduced,none,39,39,34,37.333333
66,male,group D,some high school,free/reduced,none,45,37,37,39.666667
76,male,group E,some high school,standard,none,30,26,22,26.000000
84,male,group D,high school,free/reduced,none,42,39,34,38.333333
91,male,group C,high school,free/reduced,none,27,34,36,32.333333
131,male,group C,some high school,free/reduced,completed,53,37,40,43.333333
145,female,group C,some college,free/reduced,none,22,39,33,31.333333
211,male,group C,some college,free/reduced,none,35,28,27,30.000000
327,male,group A,some college,free/reduced,none,28,23,19,23.333333
331,male,group C,associate's degree,standard,none,47,37,35,39.666667
338,female,group B,some high school,free/reduced,none,24,38,27,29.666667
363,female,group D,some high school,free/reduced,none,27,34,32,31.000000
424,male,group B,some college,free/reduced,none,41,39,34,38.000000
466,female,group D,associate's degree,free/reduced,none,26,31,38,31.666667
555,female,group C,some college,free/reduced,none,32,39,33,34.666667
596,male,group B,high school,free/reduced,none,30,24,15,23.000000
601,female,group C,high school,standard,none,29,29,30,29.333333
706,male,group D,high school,standard,none,46,34,36,38.666667
729,male,group C,some college,standard,none,53,39,37,43.000000
787,female,group B,some college,standard,none,19,38,32,29.666667
810,male,group A,some high school,standard,none,51,31,36,39.333333
895,female,group E,some high school,free/reduced,none,32,34,38,34.666667
896,male,group B,high school,free/reduced,none,36,29,27,30.666667
980,female,group B,high school,free/reduced,none,8,24,23,18.333333

How many Male vs. Female students are in this dataset?

In [9]:
print(df['gender'].value_counts())

gender
female    518
male      482
Name: count, dtype: int64

What is the mean (average) writing score of the entire class?

In [10]:
avg_writing = df['writing_score'].mean()
print(f"Average Writing Score: {avg_writing:.2f}")

Average Writing Score: 68.05

Round 2: The Intermediate Questions

Who is better at Math on average? Boys or Girls?

In [11]:
print(df.groupby('gender')['math_score'].mean())

gender
female    63.633205
male      68.728216
Name: math_score, dtype: float64

 How many students scored above 50 in Math AND Reading AND Writing?

In [12]:
passed_all = df[(df['math_score'] > 50) & (df['reading_score'] > 50) & (df['writing_score'] > 50)]
print(f"Number of All-Rounders: {len(passed_all)}")

Number of All-Rounders: 796

Show the data for the Top 5 students with the highest average_score.

In [13]:

top_5 = df.sort_values('average_score', ascending=False).head(5)
display(top_5[['gender', 'math_score', 'average_score']])

     gender  math_score  average_score
916    male         100     100.000000
962  female         100     100.000000
458  female         100     100.000000
114  female          99      99.666667
712  female          98      99.000000

Compare the Average Reading Score for students with "standard" lunch vs. "free/reduced" lunch.

In [14]:

print(df.groupby('lunch')['reading_score'].mean())

lunch
free/reduced    64.653521
standard        71.654264
Name: reading_score, dtype: float64

How many students have parents with a Master's degree?

In [15]:
print(df['parent_education'].value_counts()['master\'s degree'])

59

Round 3: The Hard Questions

Which combination of Parent Education AND Test Prep produces the absolute highest average Math score?

In [16]:
grouped = df.groupby(['parent_education', 'test_prep'])['math_score'].mean()

print(grouped.sort_values(ascending=False))

parent_education    test_prep
bachelor's degree   completed    73.282609
associate's degree  completed    71.829268
some college        completed    71.454545
master's degree     completed    70.600000
                    none         69.307692
bachelor's degree   none         66.902778
some high school    completed    66.701299
associate's degree  none         65.571429
high school         completed    65.000000
some college        none         64.892617
some high school    none         61.078431
high school         none         60.992857
Name: math_score, dtype: float64

 Find the average Writing Score of students who are in the top 25% for Math.

In [17]:
cutoff = df['math_score'].quantile(0.75)
print(f"Top 25% Math Cutoff Score: {cutoff}")

Top 25% Math Cutoff Score: 77.0

Create a new column called Grade (A, B, C, D, F) based on the average_score.

In [18]:
def assign_grade(score):
    if score >= 90: return 'A'
    elif score >= 80: return 'B'
    elif score >= 70: return 'C'
    elif score >= 60: return 'D'
    else: return 'F'

df['Grade'] = df['average_score'].apply(assign_grade)

print(df['Grade'].value_counts().sort_index())

Grade
A     52
B    146
C    261
D    256
F    285
Name: count, dtype: int64

Find students who are incredibly consistent. Their score variance (difference between highest and lowest subject) is less than 10 points.

In [19]:
df['score_range'] = df[['math_score', 'reading_score', 'writing_score']].max(axis=1) - \
                    df[['math_score', 'reading_score', 'writing_score']].min(axis=1)


consistent_students = df[df['score_range'] < 10]
print(f"Number of Consistent Students: {len(consistent_students)}")
print(consistent_students.head())

Number of Consistent Students: 527
   gender     race   parent_education         lunch  test_prep  math_score  \
0  female  group B  bachelor's degree      standard       none          72
2  female  group B    master's degree      standard       none          90
4    male  group C       some college      standard       none          76
6  female  group B       some college      standard  completed          88
7    male  group B       some college  free/reduced       none          40

   reading_score  writing_score  average_score Grade  score_range
0             72             74      72.666667     C            2
2             95             93      92.666667     A            5
4             78             75      76.333333     C            3
6             95             92      91.666667     A            7
7             43             39      40.666667     F            4

Find students who have "free/reduced" lunch (low income) BUT still managed to score in the Top 10% of the class.

In [20]:
top_10_cutoff = df['average_score'].quantile(0.90)

underdogs = df[(df['lunch'] == 'free/reduced') & (df['average_score'] >= top_10_cutoff)]

print(f"Number of 'Underdog' Students: {len(underdogs)}")

print(underdogs[['lunch', 'average_score']].head())

Number of 'Underdog' Students: 13
            lunch  average_score
110  free/reduced      88.000000
149  free/reduced      97.666667
377  free/reduced      93.333333
420  free/reduced      89.333333
463  free/reduced      86.000000

 Which Race/Ethnicity group has the highest percentage of students passing math (>60)?

In [21]:
df['passed_math'] = (df['math_score'] > 60).astype(int)

pass_rates = df.groupby('race')['passed_math'].mean() * 100
print(pass_rates.sort_values(ascending=False))

race
group E    82.142857
group D    70.992366
group C    63.009404
group B    58.947368
group A    52.808989
Name: passed_math, dtype: float64

Who has the biggest gap between Reading and Writing?

In [22]:
df['rw_gap'] = abs(df['reading_score'] - df['writing_score'])

max_gap = df['rw_gap'].max()
gap_student = df[df['rw_gap'] == max_gap]

print(f"Largest Gap Found: {max_gap} points")
display(gap_student[['reading_score', 'writing_score', 'rw_gap']])

Largest Gap Found: 14 points

     reading_score  writing_score  rw_gap
237             60             74      14
688             58             44      14

 Calculate the "Advantage" of having a parent with a Master's degree vs. High School for every single subject.

In [23]:
masters_scores = df[df['parent_education'] == "master's degree"][['math_score', 'reading_score', 'writing_score']].mean()
hs_scores = df[df['parent_education'] == 'high school'][['math_score', 'reading_score', 'writing_score']].mean()

advantage = masters_scores - hs_scores
print("--- Master's Degree Advantage (Points Higher) ---")
print(advantage)

--- Master's Degree Advantage (Points Higher) ---
math_score        7.608008
reading_score    10.668800
writing_score    13.228987
dtype: float64

Downloading the underdogs data

In [24]:

top_10_cutoff = df['average_score'].quantile(0.90)
underdogs = df[(df['lunch'] == 'free/reduced') & (df['average_score'] >= top_10_cutoff)]

# 2. Select only the columns we care about for the report
report = underdogs[['gender', 'race', 'parent_education', 'math_score', 'reading_score', 'writing_score', 'average_score']]

# 3. Save to CSV
report.to_csv('Scholarship_Candidates_Top_Underdogs.csv', index=False)

print(f"âœ… SUCCESS! Saved {len(report)} students to 'Scholarship_Candidates_Top_Underdogs.csv'")
print("ðŸ“‚ You can now find this file in your folder.")

âœ… SUCCESS! Saved 13 students to 'Scholarship_Candidates_Top_Underdogs.csv'
ðŸ“‚ You can now find this file in your folder.